.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section {
  display: flex;
  flex: none;
  height: 100vh;
  /* height: calc(100vh - 68.5px); */
  width: 100vw;
  /* scroll-snap-align: start; */
  scroll-margin-top: 68.5px;
  /* color: #594D11; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

